@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');

/* UNIVERSAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 4rem;
    background-color: #546A76;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #DBD3C9;
}

/* CENTER CONTENT */
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* HEADING */
h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    color: #008790;
}

/* DROPDOWN STYLES */
select {
    text-transform: lowercase;
    letter-spacing: 0.5rem;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    background-color: rgba(212, 224, 222, 0.7);
    border: none;
    outline: none;
    color: #FD8F4A;
    font-weight: 700;
    font-size: 0.9rem;
}


/* DAYS */

ul {
    margin: 3rem 0;
    max-width: 70rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;
    gap: 0.5rem;
}

ul li {
    padding: 0.25rem;
    flex: 0 1 auto;
    width: 4rem;
    height: 4rem;
    display: block;
    background-color: #B8C5C4;
    opacity: 0.6;
    color: #008790;
    font-size: 1rem;
}

ul li:hover {
    background-color: #EADBC4;
}
/* MEDIA QUERIES */

@media screen and (min-width: 635px) {

    h1 {
        font-size: 5rem;
    }

    select {
        font-size: 1.2rem;
    }

    ul li {
        width: 8rem;
        height: 8rem;
        font-size: 1.3rem;
    }
}